* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "JetBrains Mono", monospace;
	color: black;
	background-color: rgb(255, 247, 240);
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

h1,
h2,
h3,
p,
footer {
	&::selection {
		background-color: rgb(254, 125, 48);
	}
}
